.form {
  margin: 20px;
}

.form input {
  display: block;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 100%;
}

.contact-btn {
  display: flex;
	border-radius: 12px;
	cursor: pointer;
	margin-bottom: 10px;
}